<!DOCTYPE html>
<html ng-app="ScoreKeeper">
<head>
    <meta charset="utf-8" />
    <title>ScoreTracker</title>

    <!-- ScoreTracker references -->
    <link href="css/index.css" rel="stylesheet" />
	    <link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.css" rel="stylesheet"/>

</head>
<body ng-controller="MainController">
    <div id="wrapper" ng-class="sideNav">
		<div class="header navbar navbar-default navbar-fixed-top"> 
			<a href="#menu-toggle" class="fa fa-2x fa-bars side-menu" id="menu-toggle" ng-click="sideNav='toggled'"></a>
			<p class="header-title">Score Keeper</p>
		</div>
	
	
		<!-- Sidebar -->
        <div id="sidebar-wrapper" ng-class="sideNav">
            <ul class="sidebar-nav">
                <li>
                    <a href="#" ng-click="addPlayer(); sideNav=''">Add Player</a>
                </li>
				<li>
                    <a href="#" ng-click="clearRounds(); sideNav=''">New Game</a>
                </li>
				<li>
                    <a href="#" ng-click="sideNav=''">About Us</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
		
		<div id="page-content-wrapper">
			
			<table class="table table-bordered table-striped table-margin">
				<thead style="z-index: 0;" class="navbar navbar-default navbar-fixed-top table-fixed-top">
					<tr>
						<td ng-repeat="user in users" nowrap="nowrap">
							<div>                    
								<input display="none" class="user-input" type="text" name="score" maxlength="20" ng-model="user.name" ng-required="true" autocomplete="off" ng-blur="score.doneEntering()" ng-pattern="/[a-z]/">
								</input>
								<del class="fa fa-trash-o fa-fw delete-icon" ng-click="removePlayer($index)">
								</del>                    
							</div>
							
							<div class="total">
								{{getTotal(user.scores) | number}}
							</div>
						</td>
					</tr>
					
				</thead>
				<tbody>
					<tr ng-repeat="index in getRounds()">
						<td ng-repeat="user in users">{{user.scores[index].value}}</td>
					</tr>
					<tr>
						<td ng-repeat="user in users">
							<form novalidate>
								<input class="new-score-input" type="number" name="score" ng-model="score[$index]" ng-required="true" autocomplete="off" ng-blur="score.doneEntering()" ng-pattern="/[0-9]/"></input>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
    </div>

    <!-- Cordova reference, this is added to your app when it's built. -->
    <!--<script src="cordova.js"></script> -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="plugins/com.brodysoft.sqlitePlugin/www/SQLitePlugin.js"></script>
    <script src="scripts/frameworks/angular.min.js"></script>
    <script src="scripts/frameworks/angular-route.min.js"></script>

    <script src="scripts/index.js"></script>
	<script src="scripts/index/services/GameService.js"></script>
    <script src="scripts/index/controller/MainController.js"></script>
	
	<!-- Bootstrap Core JavaScript -->
	<script src="scripts/jquery.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
	
	<!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
	
</body>
</html>